.auth-form_component-enter {
  opacity: 0;
}
.auth-form_component-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.auth-form_component-exit {
  opacity: 1;
}
.auth-form_component-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.account-details_component-enter {
  opacity: 0;
}
.account-details_component-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.account-details_component-exit {
  opacity: 1;
}
.account-details_component-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
.menu-button {
  display: none;
}

@media screen and (max-width: 544px) {
  .buttons-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ee6e73;
    border-radius: 3px;
    z-index: 2;
  }
  .menu-button {
    display: block;
  }
  .icon-menu {
    color: white;
  }
}