.header_container {
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
  background-color: #abce6f63;
  justify-content: center;
}
.logo {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  font-size: 37px;
  font-weight: bold;
}