.logged-in_container {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.logout_btn {
  outline: none;
  height: 30px;
  border-radius: 7px;
  color: #4d614e;
  background-color: #d0dc88;
  font-size: 15px;
  cursor: pointer;
}
.logout_btn:active {
  font-size: 14px;
}