.task-form_component-enter {
  opacity: 0;
}
.task-form_component-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.task-form_component-exit {
  opacity: 1;
}
.task-form_component-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}