.task-form {
  height: 200px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#input_task-text {
  width: 460px;
}

@media screen and (max-width: 544px) {
  .task-form {
    height: 180px;
    width: 100%;
  }
  #input_task-text {
    width: 90vw;
  }
}