.added-task {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #a8c55e;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.added-task_name {
  background-color: #bee48a;
  display: flex;
  justify-content: center;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.img-delete {
  height: 26px;
  width: 26px;
  cursor: pointer;
  opacity: 0.65;
}
.img-edit {
  height: 26px;
  width: 26px;
  cursor: pointer;
  opacity: 0.65;
}
.image-container {
  display: flex;
  width: 65px;
  justify-content: space-around;
  align-items: center;
}