.task-icon:hover {
  color: #26a69a;
}
.task-container {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
}
.task-icon {
  cursor: pointer;
  padding-right: 5px;
}
.task-important {
  color: red;
  font-size: 23px;
}